
.icon-github-circled-1:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
